@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;

}
.App {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;


}

.App>.bg-image{
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("./Media/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;
}
.App>.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #148067;
  height: 18vw;

  font-size: 3vw;
}


.App>.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}