@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;

}
.App {
  position: absolute;
  text-align: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;


}

.App>.bg-image{
  box-sizing: border-box;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: url("./Media/backgroundimage.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  z-index: -1;
}
.App>.header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background: rgba(17, 36, 33, 0.75);*/
  height: 25vh;
  border-bottom: white solid 1px;
  backdrop-filter: blur(30px);

  color : white;
  font-size: 3vw;
}

.header>h1{
  border-bottom: white solid 5px;
}
.header>p{
  font-size: 1vw;
}
.App>.app-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.app-container>.buttons-container{
  margin-top: 1vh;
  height: 10vh;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons-container>button{
  width: 40%;
  height: 80%;
  font-size: 2vw;
  background-color: rgba(255, 255, 255, 0.53);
  border-radius: 30px;
  backdrop-filter: blur(20px);
}

.buttons-container>button:hover{
  background-color: rgb(255, 255, 255);

}


.new-student-pannel{
  top: 25vh;
  z-index: 15;
  position: absolute;
  width: 40vw;
  height: 50vh;
  background-color: royalblue;
  display: flex;
  justify-content: center;

}